#notes {
  border: 1px solid darkgrey;
  min-width: 800px;
  min-height: 600px;
}

.note {
  position: absolute !important;
  box-shadow: 5px 5px 5px black;
  overflow: hidden;
}

.note .handle {
  background-color: grey;
  cursor: move;
}

.note .handle:hover {
  background-color: lightgrey;
}

.note .handle-item {
  float: right;
  height: 20px;
}

.note .close {
  width: 20px;
}

.note .content {
  padding: 2px 6px;
  height: 100%;
}


/* Bootstrap overrides */
a.btn.dropdown-toggle {
  padding: 0px;
  color: black;
}

.note.ui-state-disabled {
  opacity: 1;
}