#notes {
  border: 1px solid darkgrey;
  min-width: 800px;
  min-height: 600px;
}

.note {
  position: absolute !important;
  box-shadow: 5px 5px 5px black;
}

.note .handle {
  background-color: grey;
  cursor: move;
}

.note .handle:hover {
  background-color: lightgrey;
}

.note .handle-item {
  float: right;
  height: 20px;
}

.note .close {
  width: 20px;
}

.note .content {
  
}