<div>
{{#each notes}}
  <div class="note" data-id="{{id}}" data-index="{{@index}}" data-x="{{x}}" data-y="{{y}}" data-width="{{width}}" data-height="{{height}}" data-color="{{color}}">
    <div class="handle">
      <span class="handle-content">
        click here to drag
      </span>
      <button class='close handle-item'>
        x
      </button>
      <div class="dropdown btn-group handle-item">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Colors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {{#each ../colors}}
            <li style="background-color:{{this}}">
              <a class="color" data-color="{{this}}" href="#">{{@index}}.) {{this}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="content" contenteditable="true">
      {{content}}
    </div>
  </div>
{{/each}}

{{#each notes}}
  {{color}}: {{sortIndex}}
{{/each}}
</div>