<div>
{{#each notes}}
  <div class="note" data-index="{{@index}}" data-x="{{x}}" data-y="{{y}}" data-width="{{width}}" data-height="{{height}}" data-color="{{color}}">
    <div class="handle">
      <span class="handle-content">
        click here to drag
      </span>
      <button class='close handle-item'>
        X
      </button>
      <div class="dropdown btn-group handle-item">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Foo</a></li>
          <li><a href="#">Bar</a></li>
        </ul>
      </div>
    </div>
    <div class="content" contenteditable="true">
      {{content}}
    </div>
  </div>
{{/each}}
</div>